DirectoryIndex index.html

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^$ index.html [L]
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.json$">
        Header set Cache-Control "max-age=0, no-cache"
    </FilesMatch>
</IfModule>
